.box-1{
    width: 512px;
    height: 512px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.minibox-1{
    background-color: red;
    border-color: black;
    border: 2px solid;
}

.minibox-2{
    background-color: green;
    border-color: black;
    border: 2px solid;
}

.minibox-3{
    background-color: yellow;
    border-color: black;
    border: 2px solid;
}

.minibox-4{
    background-color: blue;
    border-color: black;
    border: 2px solid;
}